{% extends "template.html" %}

{% block style %} 
  {%load static%}
  <link rel="stylesheet" href="{% static 'styles/estacionTerrenaStyles.css' %}">  
{% endblock %}

{% block content %}
  <div class="row" style="margin: 15px; max-width: 100%;">
    <div class="col-md-4 col-sm-12 mt-2 border rounded p-5" style="border-width: 2px!important;  padding-top: 30px!important; max-height: 650px; overflow: auto;">
      <div>
          <h5>Detalles de sus Estaciones</h5>
      </div>
      <div class="mt-3">
        <!-- https://getbootstrap.com/docs/4.0/components/list-group/ -->
        <label class="col-form-label">Para agregar o editar una estación selecciona una opción:</label>
        <br>
        
        <div class="list-group align-middle mt-3" id="list-tab" role="tablist"> <!-- style="max-width: 80%; margin-left: auto; margin-right: auto;" -->
          <a class="list-group-item list-group-item-action active" id="list-nueva" href="{% url 'estacionTerrena' %}" role="tab" >
            Nueva Estación <i class="icon-plus" style="float: right; margin-top: 5px;"></i>
            <!-- /{{estacion.id}} -->
          </a>

          {% if estaciones %}
            {% for estacion in estaciones %}
                <a class="list-group-item list-group-item-action" id="list-estacion" href="{% url 'estacionTerrena' %}{{estacion.nombre_estacion}}" role="tab">
                  {{estacion.nombre_estacion}}<i class="icon-cog" style="float: right; margin-top: 5px;"></i>
                  <!-- /{{estacion.id}} -->
                </a>
            {% endfor %}

          {% else %}
              <a class="list-group-item list-group-item-action" id="list-estacion" role="tab">
                Sin Estaciones<i class="icon-cog" style="float: right; margin-top: 5px;"></i>
              </a>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- Aqui va la segunda parte   -->
    <div id="responsiveDiv" class="col-md-7 col-sm-12 mt-2 border rounded" style="border-width: 2px!important; max-height: 650px;  overflow: auto; max-width: 100%;">
      <div class="p-2">
        {% if not indestacion  %}
        <form id="estacion" action="" method="POST" onsubmit="return handleSubir()" novalidate>
            {% csrf_token %}
            <div class="mb-0">
              <label for="nombre" class="col-form-label">Nombre de la Estación:</label>
              <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ej: Estación Principal" maxlength="30" required>
              <div class="invalid-feedback">
                Ingrese un nombre para su estación
              </div>
            </div>
            <div class="mb-0">
              <label for="marca" class="col-form-label">Marca del Equipo:</label>
              <input type="text" class="form-control" id="marca" name="marca" placeholder="Ej: Yaesu" maxlength="30" required>
              <div class="invalid-feedback">
                Ingrese una marca del equipo
              </div>
            </div>
            <div class="mb-0">
                <label for="modelo" class="col-form-label">Modelo del Equipo:</label>
                <input type="text" class="form-control" id="modelo" name="modelo" placeholder="Ej: FT-123X" maxlength="40" required>
                <div class="invalid-feedback">
                  Ingrese un modelo del equipo
                </div>
            </div>            
            <div class="mb-0">
              <label for="grid" class="col-form-label">Grid Locator:</label>
              <input type="text" class="form-control" id="grid" name="grid" placeholder="Ej: DK9HX3" maxlength="10" required>
              <div class="invalid-feedback">
                Ingrese un Grid Locator
              </div>
            </div>
            <div class="mb-0">
                <label for="antena" class="col-form-label">Antena:</label>
                <input type="text" class="form-control" id="antena" name="antena" placeholder="Ej: Yagi" maxlength="30" required>
                <div class="invalid-feedback">
                  Ingrese una antena
                </div>
            </div>
            <div class="mb-0">
              <label for="tipo" class="col-form-label">Tipo de Antena:</label>
              <select class="form-select mb-2 ml-2" id="tipo" name="tipo" required>
                <option selected value="Omnidireccional">Omnidireccional</option>                    
                <option value="Direccional">Direccional</option>                    
              </select>
            </div>
            <div class="mb-0">
              <label for="ganancia" class="col-form-label">Ganancia [dBi]: (opcional)</label>
              <input type="number" class="form-control" id="ganancia" name="ganancia" placeholder="Ej: 20">
            </div>
            <div class="mb-0">
              <label for="polarizacion" class="col-form-label">Polarización:</label>
              <input type="text" class="form-control" id="polarizacion" name="polarizacion" placeholder="Ej: Circular" maxlength="20" required>
              <div class="invalid-feedback">
                Ingrese una polarización
              </div>
            </div>
            <div class="mb-0">
              <label for="altura" class="col-form-label">Altura sobre el piso [m]:</label>
              <input type="number" class="form-control" id="altura" name="altura" placeholder="Ej: 10" required>
              <div class="invalid-feedback">
                Ingrese una altura sobre el piso dado en metros
              </div>
            </div>
            <!-- <div class="mb-0">
              <label for="ubicacion" class="col-form-label">Ubicación de la antena respecto a objetos reflejantes:</label>
              <input type="text" class="form-control" id="ubicacion" name="ubicacion" placeholder="Ej: " required>
              <div class="invalid-feedback">
                Ingrese ubicación de la antena respecto a objetos reflejantes
              </div>
            </div> -->

            <div class="mb-0">
              <label for="formato" class="col-form-label">Formato de Modulación:</label>
              <select class="form-select mb-2 ml-2" id="formato" name="formato" required>
                <option selected value="FM">FM</option>                    
                <option value="LSB">LSB</option>                    
                <option value="USB">USB</option>                    
                <option value="Otro">Otro</option>                    
              </select>
            </div>
            <div id="div-otro" class="mb-0" style="display: none;">
              <label for="formato-otro" class="col-form-label">Especifique:</label>
              <input type="text" class="form-control" id="formato-otro" name="formato-otro" maxlength="10" placeholder="">
              <div class="invalid-feedback">
                Ingrese un formato de modulación
              </div>
            </div>

            <div class="mt-3">
              <button type="submit" id="bt" class="btn btn-color text-white" >Agregar</button>
            </div>
        </form>
        {% elif indestacion %}
        
        <label> Estación: </label><span style="font-weight: bold; margin-left: 5px;">{{indestacion.0.nombre_estacion}}</span>
        <form id="estacion" action="{% url 'updateEstacion' indestacion.0.nombre_estacion %}" method="POST" onsubmit="return handleSubir()" novalidate>
          {% csrf_token %}
          <div class="mb-0">
            <label for="nombre" class="col-form-label">Nombre de la Estación:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ej: Estación Principal" value="{{indestacion.0.nombre_estacion}}" maxlength="30" required>
            <div class="invalid-feedback">
              Ingrese un nombre para su estación
            </div>
          </div>
          <div class="mb-0">
            <label for="marca" class="col-form-label">Marca del Equipo:</label>
            <input type="text" class="form-control" id="marca" name="marca" placeholder="Ej: Yaesu" value="{{indestacion.0.marca}}" maxlength="30" required>
            <div class="invalid-feedback">
              Ingrese una marca del equipo
            </div>
          </div>
          <div class="mb-0">
              <label for="modelo" class="col-form-label">Modelo del Equipo:</label>
              <input type="text" class="form-control" id="modelo" name="modelo" placeholder="Ej: FT-123X" value="{{indestacion.0.modelo}}" maxlength="40" required>
              <div class="invalid-feedback">
                Ingrese un modelo del equipo
              </div>
          </div>            
          <div class="mb-0">
            <label for="grid" class="col-form-label">Grid Locator:</label>
            <input type="text" class="form-control" id="grid" name="grid" placeholder="Ej: DK9HX3" value="{{indestacion.0.grid}}" maxlength="10" required>
            <div class="invalid-feedback">
              Ingrese un Grid Locator
            </div>
          </div>
          <div class="mb-0">
              <label for="antena" class="col-form-label">Antena:</label>
              <input type="text" class="form-control" id="antena" name="antena" placeholder="Ej: Yagi" value="{{indestacion.0.antena}}" maxlength="30" required>
              <div class="invalid-feedback">
                Ingrese una antena
              </div>
          </div>
          <div class="mb-0">
            <label for="tipo" class="col-form-label">Tipo de Antena:</label>
            <select class="form-select mb-2 ml-2" id="tipo" name="tipo" required>
              {% if indestacion.0.tipo_antena == "Omnidireccional" %} 
              <option selected value="Omnidireccional">Omnidireccional</option>                    
              <option  value="Direccional">Direccional</option> 
              {% elif  indestacion.0.tipo_antena == "Direccional" %}
              <option  value="Omnidireccional">Omnidireccional</option>                    
              <option selected value="Direccional">Direccional</option> 
              {% endif %}
              
            </select>
          </div>
          {% if indestacion.0.ganancia == 0 %} 
          <div class="mb-0">
            <label for="ganancia" class="col-form-label">Ganancia [dBi]: (opcional)</label>
            <input type="number" class="form-control" id="ganancia" name="ganancia" placeholder="Ej: 20" >
          </div>
          {% else %}
          <div class="mb-0">
            <label for="ganancia" class="col-form-label">Ganancia [dBi]: (opcional)</label>
            <input type="number" class="form-control" id="ganancia" name="ganancia" placeholder="Ej: 20" value="{{indestacion.0.ganancia}}">
          </div>
          {% endif %}
          <div class="mb-0">
            <label for="polarizacion" class="col-form-label">Polarización:</label>
            <input type="text" class="form-control" id="polarizacion" name="polarizacion" placeholder="Ej: Circular" value="{{indestacion.0.polarizacion}}" maxlength="20" required>
            <div class="invalid-feedback">
              Ingrese una polarización
            </div>
          </div>
          <div class="mb-0">
            <label for="altura" class="col-form-label">Altura sobre el piso [m]:</label>
            <input type="number" class="form-control" id="altura" name="altura" placeholder="Ej: 10" value="{{indestacion.0.altura}}">
            <div class="invalid-feedback">
              Ingrese una altura sobre el piso dado en metros
            </div>
          </div>
          <!-- <div class="mb-0">
            <label for="ubicacion" class="col-form-label">Ubicación de la antena respecto a objetos reflejantes:</label>
            <input type="text" class="form-control" id="ubicacion" name="ubicacion" placeholder="Ej: " required>
            <div class="invalid-feedback">
              Ingrese ubicación de la antena respecto a objetos reflejantes
            </div>
          </div> -->

          <div class="mb-0">
            <label for="formato" class="col-form-label">Formato de Modulación:</label>
            <select class="form-select mb-2 ml-2" id="formato" name="formato" required>
              {% if indestacion.0.modulacion == "FM" %}
              <option selected value="FM">FM</option>                    
              <option value="LSB">LSB</option>                    
              <option value="USB">USB</option>                    
              <option value="Otro">Otro</option>
              {% elif indestacion.0.modulacion == "LSB" %}
              <option  value="FM">FM</option>                    
              <option selected value="LSB">LSB</option>                    
              <option value="USB">USB</option>                    
              <option value="Otro">Otro</option>
              {% elif indestacion.0.modulacion == "USB" %}
              <option  value="FM">FM</option>                    
              <option  value="LSB">LSB</option>                    
              <option selected value="USB">USB</option>                    
              <option value="Otro">Otro</option>
              {% else %}
              <option  value="FM">FM</option>                    
              <option  value="LSB">LSB</option>                    
              <option value="USB">USB</option>                    
              <option selected value="Otro">Otro</option>
              {% endif %}
              
                                  
            </select>
          </div>
          {% if indestacion.0.modulacion != "FM" and indestacion.0.modulacion != "LSB" and indestacion.0.modulacion != "USB" %}
            <div id="div-otro" class="mb-0" style="display: block;">
              <label for="formato-otro" class="col-form-label">Especifique:</label>
              <input type="text" class="form-control" id="formato-otro" name="formato-otro" placeholder="" maxlength="10" value="{{indestacion.0.modulacion}}">
              <div class="invalid-feedback">
                Ingrese un formato de modulación
              </div>
            </div>
          {% else %}
            <div id="div-otro" class="mb-0" style="display: none;">
              <label for="formato-otro" class="col-form-label">Especifique:</label>
              <input type="text" class="form-control" id="formato-otro" name="formato-otro" maxlength="10" placeholder="">
              <div class="invalid-feedback">
                Ingrese un formato de modulación
              </div>
            </div>
          {% endif %}

          <div class="mt-3">
            <button type="submit" class="btn btn-success text-white" onclick="handleSubir()">Actualizar</button>
            <a href="{% url 'deleteEstacion' indestacion.0.id %}" class="btn btn-danger">Borrar</a>
          </div>
      </form>
        {% endif %}
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $('#formato').on('change', function(e) {
      $('input[id=formato-otro]').val("");
      if(e.target.value=="Otro")    $('div[id="div-otro"]').show();
      else    $('div[id="div-otro"]').hide();
    });
    
    // $('#list-tab').on('click', function(e) {
    //   // if(e.target.id == "list-agregar") $("#bt").text("Agregar");
    //   // else $("#bt").text("Actualizar");
    //   $('#list-tab a').classList.remove('active');
    //   document.getElementById(e.target.id).classList.add('active');
    // });

    function handleSubir(){
      var nombre = document.getElementById("nombre").value;
      var marca = document.getElementById("marca").value;
      var modelo = document.getElementById("modelo").value;
      var grid = document.getElementById("grid").value;
      var antena = document.getElementById("antena").value;
      var tipo = document.getElementById("tipo").value;
      var ganancia = document.getElementById("ganancia").value;
      var polarizacion = document.getElementById("polarizacion").value;
      var altura = document.getElementById("altura").value;
      var formato = document.getElementById("formato").value;
      var formatoOtro = document.getElementById("formato-otro").value;
      
      const dataEstacion ={ nombre, marca, modelo, grid, antena, tipo, ganancia, polarizacion, altura, formato, formatoOtro };
      
      if(nombre == "" || marca == "" || modelo == "" || grid == "" || antena == "" || polarizacion == "" || altura == ""){
        var formLogin = document.querySelectorAll('#estacion');
        document.getElementById("formato-otro").required = true;
        formLogin[0].classList.remove('was-validated');
        formLogin[0].classList.add('was-validated');
        return false;
      }
      else {
        if(formato == "Otro" && formatoOtro == ""){
          var formLogin = document.querySelectorAll('#estacion');          
          document.getElementById("formato-otro").required = true;
          formLogin[0].classList.remove('was-validated');
          formLogin[0].classList.add('was-validated');
          return false;
        }
        console.log("Subir Estación: ",dataEstacion);
      }
    }
  </script>

{% endblock %}
