{% extends "template.html" %}
{% block style %} 
{%load static%} 
<link rel="stylesheet" href="{% static 'styles/homeStyles.css' %}">  
{% endblock %}

{% block content %}
{% load static%}
  <div class="alert alert-primary alrt" role="alert">
    <MARQUEE WIDTH=100% > Próximo experimento dentro de 24 hrs. </MARQUEE>
  </div>
  
  <div class="image">
    <img class="image__img" src="{% static 'resources/antenaHome.jpg' %}" alt="Bricks">
    <div class="centered"><p class="h4">Estaciones Terrenas</p></div>
    <div class="image__overlay image__overlay--primary">
        <div class="image__title"><a class="linkim" href="{% url 'estacionTerrena' %}">Estaciones Terrenas</a></div>
        <a class="linkim" href="{% url 'estacionTerrena' %}">
        <p class="image__description">
            Visualice sus estaciones terrenas
        </p>
        </a>
    </div>
  </div>
  <div class="image">
    <img class="image__img" src="{% static 'resources/registro.png' %}" alt="Bricks">
    <div class="centered"><p class="h4">Registros</p></div>
    <div class="image__overlay image__overlay--primary">
      <div class="image__title"><a class="linkim" href="{% url 'estacionTerrena' %}">Registro</a></div>
      <a class="linkim" href="{% url 'estacionTerrena' %}">
      <p class="image__description">
          Ingrese nuevo registro
      </p>
      </a>
    </div>
  </div>

{% endblock %}