{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Remeasat</title>
      <meta charset="utf-8"> 
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'styles/styles.css' %}">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="sidenav">
      <div class="login-main-text">
          <h1 style="font-size: 200%;">Experimentos relacionados con el estudio de los efectos del canal de propagación ionosférica.</h1>
          <p>Inicia sesión o regístrate para accesar.</p>
          <div class="" style="position:static; bottom: 0; display: flex; justify-content: center; flex-wrap: wrap;">
            <img src="{% static 'resources/ipnC.png' %}" style="width: 13%; margin: 15px;">
            <img src="{% static 'resources/unam.png' %}" style="width: 14%; margin: 15px;">
            <img src="{% static 'resources/complutense.png' %}" style="width: 15%; margin: 15px;">
            <img src="{% static 'resources/FMRE.png' %}" style="width: 12%; margin: 15px;">
            <img src="{% static 'resources/upiita.png' %}" style="width: 21%; margin: 10px; margin-top: 30px;">
            <img src="{% static 'resources/cinvestav.png' %}" style="width: 20%; margin: 10px;">
            <img src="{% static 'resources/rnelogo.png' %}" style="width: 20%; margin: 10px;">
            <img src="{% static 'resources/udec.png' %}" style="width: 20%; margin: 10px;">
          </div>
      </div>
    </div>
    <div class="main">
      <div class="col-md-6 col-sm-12">
          <div class="login-form">
            <form id="login" method="POST" action="" onsubmit="return handleLogin()" novalidate>
              {% csrf_token %}
                <div class="form-group">
                  <label>Indicativo</label>
                  <input type="text" class="form-control" placeholder="Indicativo" id="indicativoL" name="indicativoL" maxlength="10" required>
                  <div class="invalid-feedback">
                    Ingrese un indicativo
                  </div>
                </div>
                <div class="form-group">
                  <label>Contraseña</label>
                  <input type="password" class="form-control" placeholder="Contraseña" id="contrasenaL" name="contrasenaL" maxlength="100" required>
                  <div class="invalid-feedback">
                    Ingrese una contraseña
                  </div>
                </div>
                <button type="submit" class="btn btn-color text-white">Iniciar Sesión</button>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#registerModal" id="registro">Registrarse</button>
            </form>
            
            {% for message in messages %}
              <span id="message"> {{message}} </span> <br/>
            {% endfor %}
          </div>
      </div>
    </div>

    <div class="modal fade show modBack" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="padding: .5rem 1rem!important;">
            <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
          </div>
          <div class="modal-body pt-0">
            <form id="register" action="register/" method="POST" onsubmit="return handleRegister()" novalidate>
              {% csrf_token %}
              <div class="mb-0">
                <label for="indicativoR" class="col-form-label">Indicativo:</label>
                <input type="text" class="form-control" id="indicativoR" name="indicativoR" maxlength="10" required>
                <div class="invalid-feedback">
                  Ingrese un indicativo
                </div>
              </div>
              <div class="mb-0">
                <label for="contrasenaR" class="col-form-label">Contraseña:  (mayor a 5 caracteres)</label>
                <input type="password" class="form-control" id="contrasenaR" name="contrasenaR" maxlength="100" required>
                <div class="invalid-feedback">
                  Ingrese una contraseña
                </div>
              </div>
              <div class="mb-0">
                <label for="nombreR" class="col-form-label">Nombre(s):</label>
                <input type="text" class="form-control" id="nombreR" name="nombreR" maxlength="25" required>
                <div class="invalid-feedback">
                  Ingrese un nombre(s)
                </div>
              </div>
              <div class="mb-0">
                <label for="apellidoPR" class="col-form-label">Apellido Paterno:</label>
                <input type="text" class="form-control" id="apellidoPR" name="apellidoPR" maxlength="25" required>
                <div class="invalid-feedback">
                  Ingrese un apellido paterno
                </div>
              </div>
              <div class="mb-1">
                <label for="apellidoMR" class="col-form-label">Apellido Materno:</label>
                <input type="text" class="form-control" id="apellidoMR" name="apellidoMR" maxlength="25" required>
                <div class="invalid-feedback">
                  Ingrese un apellido materno
                </div>
              </div>
              <label for="nombreR" class="col-form-label">Ubicacion :</label>

              <div class="form-check form-check-inline mb-0">
                <input type="radio" name="location" id="mexico" checked="checked" value="mexico">&nbsp;México &nbsp;&nbsp;
                <input type="radio" name="location" id="extranjero" value="extranjero">&nbsp;Extranjero
              </div>
              <!-- Extranjero  -->
              <div id="div-ext"class="mb-0" style="display: none;">
                <div class="mb-0">
                  <label for="pais" class="col-form-label">País:</label>
                  <input type="text" class="form-control" id="pais" name="pais" maxlength="25" required>
                  <div class="invalid-feedback">
                    Ingrese un país
                  </div>
                </div>
                <div class="mb-0">
                  <label for="estado" class="col-form-label">Estado:</label>
                  <input type="text" class="form-control" id="estado" name="estado" maxlength="25" required>
                  <div class="invalid-feedback">
                    Ingrese un estado
                  </div>
                </div>
                <div class="mb-0">
                  <label for="ciudad" class="col-form-label">Ciudad:</label>
                  <input type="text" class="form-control" id="ciudad" name="ciudad" maxlength="25" required>
                  <div class="invalid-feedback">
                    Ingrese un municipio
                  </div>
                </div>
              </div>
              <!-- Mexico  -->
              <div id="div-mex"class="mb-0" >
                <div>
                  <label for="estadoR" class="col-form-label">Estado:</label>
                  <select class="form-select mb-2" aria-label="Default select example" id="estadoR" name="estadoR" maxlength="30" required>
                    <option selected value=""></option>                    
                  </select>
                  <div class="invalid-feedback">
                    Escoja un estado
                  </div>
                </div>
                <div>
                  <label for="municipioR" class="col-form-label">Municipio:</label>
                  <select class="form-select form-select-lg mb-2 text-uppercase" aria-label="Default select example" id="municipioR" name="municipioR" maxlength="100" style="max-width: 60%;" required>
                    
                  </select>
                  <div class="invalid-feedback">
                    Escoja un municipio
                  </div>
                </div>
              </div>

              <div class="modal-footer pb-0">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-color text-white">Registrarse</button>
              </div>

            </form>
          </div>
          
        </div>
      </div>
    </div>

    <script>

    $('input[type=radio][name=location]').on('change', function(){
        switch($(this).val()){
            case 'mexico' :
                  $('div[id="div-mex"]').show();
                  $('div[id="div-ext"]').hide();
                break;
            case 'extranjero' :
                  $('div[id="div-ext"]').show();
                  $('div[id="div-mex"]').hide();
                break;
        }            
    });


      $.getJSON("{% static './resources/estados.json' %}", function(json) {
        $(document).ready(function(){
          var estadosS = $('#estadoR');

          json.forEach((estado, index) => {
            estadosS.append(`<option value="${estado.nombre}" key="${index}">${estado.nombre}</option>`);
          });
        });
      });

      $.getJSON("{% static './resources/estados-municipios.json' %}", function(json) {
        $('#estadoR').on('change', function(e) {
          var estado = e.target.options.selectedIndex - 1;
          var municipiosS = $('#municipioR');
          municipiosS.empty();

          if (estado!=-1){
            Object.values(json)[estado].forEach(municipio => {
              municipiosS.append(`<option value="${municipio}">${municipio}</option>`)
            });
          }
        });
      });

      function handleRegister() {
        var indicativo = document.getElementById("indicativoR").value;
        var contrasena = document.getElementById("contrasenaR").value;
        var nombre = document.getElementById("nombreR").value;
        var apellidoP = document.getElementById("apellidoPR").value;
        var apellidoM = document.getElementById("apellidoMR").value;

        var estado = document.getElementById("estadoR").value;
        var municipio = document.getElementById("municipioR").value;

        var paisE = document.getElementById("pais").value;
        var estadoE = document.getElementById("estado").value;
        var ciudadE = document.getElementById("ciudad").value;

        var radioStat = document.getElementByName("location");

        const dataRegister ={ indicativo, contrasena ,nombre, apellidoP, apellidoM, estado, municipio, paisE, estadoE, ciudadE, radioStat};
        
        if (radioStat == "mexico"){
          if(indicativo == "" || contrasena == "" || nombre == "" || apellidoP == "" || apellidoM == "" || estado == "" || municipio == ""){
          var formRegister = document.querySelectorAll('#register');
          formRegister[0].classList.remove('was-validated');
          formRegister[0].classList.add('was-validated');
          return false;
          }
          else{
            console.log("Registrar:",dataRegister)
          }
        }
        else{
          if(indicativo == "" || contrasena == "" || nombre == "" || apellidoP == "" || apellidoM == "" || paisE == "" ||estadoE == "" || ciudadE == ""){
          var formRegister = document.querySelectorAll('#register');
          formRegister[0].classList.remove('was-validated');
          formRegister[0].classList.add('was-validated');
          return false;
          }
          else{
            console.log("Registrar:",dataRegister)
          }
        }
      }

      function handleLogin(){
        var indicativo = document.getElementById("indicativoL").value;
        var contrasena = document.getElementById("contrasenaL").value;

        const dataRegister ={ indicativo, contrasena };
        
        if(indicativo == "" || contrasena == ""){
          var formLogin = document.querySelectorAll('#login');
          formLogin[0].classList.remove('was-validated');
          formLogin[0].classList.add('was-validated');
          return false;
        }
        else{
          console.log("Login:",dataRegister);
        }
      }
    </script>
  </body>
</html>

