{% extends "template.html" %}


{% block content %}
    {%if warning %}
    <div id="warning-alert"class="alert alert-warning d-flex justify-content-center" role="alert">
                <span id="message"> {{warning}} </span>
    </div>
    {%endif%}


    <div class="container p-3 mt-3 border rounded" style="border-width: 2px!important; height: calc(100vh - 200px );">
        <div class="col-sm d-flex justify-content-center mb-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerModal" id="registro">+ Añadir un nuevo mensaje</button>
        </div>
        <div class="mt-3" style="position: relative; height: 55vh; overflow: auto; display: block;">
          <table class="table table-bordered table-striped mb-0">
            <thead>
              <tr>
                <th scope="col">Mensaje </th>
                <th scope="col">Opcion</th>
              </tr>
            </thead>
            <tbody>
                {%if mensajesadmin %}
                {% for msj in mensajesadmin %}
                <tr>
                    <td >{{msj.cuerpoMsg}} </td>
                    <td><a class="btn btn-danger" href="{%url 'deletemsg' msj.id%}" role="button">Eliminar</a></td>
                </tr>
                {% endfor %}
                {%else%}
                <p style="text-align: center;" >Sin Mensajes nuevos, agrege uno nuevo</p>
                {%endif%}
            </tbody>
          </table>
        </div>
      </div>

<div class="modal fade show modBack" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="padding: .5rem 1rem!important;">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo Mensaje</h5>
        </div>
        <div class="modal-body pt-0">
            <form id="newmsg" name="newmsg" action="" method="POST" >
            {% csrf_token %}
            <textarea class="form-control" id="msgbody" name="msgbody" rows="3"></textarea>
                <button type="submit"> Agregar Mensaje </button>
            </form>
        </div>
        
      </div>
    </div>
  </div>

  {% endblock %}