{% extends "template.html" %}

{% block content %}
  <div>
      {% for message in messages %}
              <span id="message"> {{message}} </span>
      {% endfor %}
  </div>
  <div class="container p-3 mt-3 border rounded" style="border-width: 2px!important;">
    <form id="reporte" name="reporte" action="{% url 'reportes' %}" method="POST" onsubmit="return handleSubir()" enctype="multipart/form-data" novalidate  style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
      {% csrf_token %}
      <div class="input-group" style="max-width: 60%;">
        <div class="custom-file">
          <input type="file" class="custom-file-input" name="csv_file" id="csv_file" aria-describedby="inputGroupFileAddon01" value="" required="True" accept=".csv,.txt">
          
          <label class="custom-file-label" for="csv_file">Seleccione un reporte</label>
        </div>
        <div class="invalid-feedback file">
          Escoja un reporte
        </div>
      </div>
      <div class="mb-0">
        <label for="estacion" class="col-form-label">Estación:</label>
        <select class="form-select mb-2 ml-2" id="estacion" name="estacion" required>
          <option selected value=""></option> 
          {%if estaciones%}
            {% for estacion in estaciones %}
            <option value="{{estacion.id}}">{{estacion.nombre_estacion}}</option> 
            {% endfor %}
          {% else %}
          <!-- agregar un pop up -->
            <option value="Sin Estacion">Sin estación</option>
          {%endif%}
                             
        </select>
        <div class="invalid-feedback">
          Escoja una de sus estaciones terrenas
        </div>
      </div>
      <div class="mb-0">
        <button type="submit" class="btn btn-outline-success"><span style="margin-right:5px;"></span>Upload</button>
      </div>
    </form>
  </div>

  <div class="container p-3 mt-3 border rounded" style="border-width: 2px!important;">
    <div class="mt-2" style="position: relative; height: 55vh; overflow: auto; display: block;">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <th scope="col">Frecuencia (MHz)</th>
            <th scope="col">Rx/Tx</th>
            <th scope="col">Modo</th>
            <th scope="col">dB</th>
            <th scope="col">DT</th>
            <th scope="col">Frecuencia (Tx)</th>
            <th scope="col">Mensaje 1</th>
            <th scope="col">Mensaje 2</th>
            <th scope="col">Mensaje 3</th>
          </tr>
        </thead>
        <tbody>

          {% if reports %}
            {% for report in reports %}
              <tr>
                <th scope="row">{{report.fecha}}</th>
                <td>{{report.hora}}</td>
                <td>{{report.freq}}</td>
                <td>{{report.rt}}</td>
                <td>{{report.modo}}</td>
                <td>{{report.db}}</td>
                <td>{{report.dt}}</td>
                <td>{{report.freq_tx}}</td>
                <td>{{report.mensaje1}}</td>
                <td>{{report.mensaje2}}</td>
                <td>{{report.mensaje3}}</td>
              </tr>
            {% endfor %}

          {% else %}
            <tr>
              <th scope="row">-</th>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <p> Sin reportes </p>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>

  <!--  MODAL COMMENTS  -->
  <div class="modal fade show modBack" id="commentModal" name="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Deja un comentario</h5>
        </div>
        <div class="modal-body">
          <form id="commentary" name="commentary" action="/commentary/" method="POST" novalidate>
            {% csrf_token %}
            <div class="mb-0">
              <label for="indicativoR" class="col-form-label">Comentarios:</label>
              <textarea class="form-control" id="areacomment" name="areacomment" rows="3"></textarea>
              <div class="invalid-feedback">
                Ingrese un Comentario
              </div>
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-color text-white" >Enviar</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>


  <!--  MODAL DE SUBIENDO  -->
  <div class="modal" fade show modBack" id="uploadModal" name="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Espere un momento</h5>
          
        </div>
        <div class="modal-body">
          <p>Se esta subiendo su archivo</p>
        </div>
        
      </div>
    </div>
  </div>


  <script type="text/javascript">
    $('#csv_file').on('change',function(){
      var fileName = "Seleccione un reporte";
      if($(this).val()){
        fileName = $(this).val().replace('C:\\fakepath\\', "");
        $('.file').css('display', 'none');
      }
      $(this).next('.custom-file-label').html(fileName);
    })

    function handleSubir(){
      var estacion = document.getElementById("estacion").value;
      var archivo = document.getElementById("csv_file").value.replace('C:\\fakepath\\', "");

      const dataReporte ={ estacion, archivo };
      
      if(estacion == "" || archivo == " " || archivo == ""){
        var formLogin = document.querySelectorAll('#reporte');
        formLogin[0].classList.remove('was-validated');
        formLogin[0].classList.add('was-validated');
        if(archivo == " " || archivo == "")  $('.file').css('display', 'block');
        return false;
      }
      else{
        $('.file').css('display', 'none');
        console.log("Subir: ",dataReporte);

        $(document).ready(function(){
          $("#uploadModal").modal('show');
        });
      }
    }
  </script>

  {% if uploadFlag %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#commentModal").modal('show');
        });
    </script>
  {% endif %}


{% endblock %}
