{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remeasat</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">      <!-- https://fontawesome.com/v3.2/icons/ -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light justify-content-center nav1" >    
    <a class="navbar-brand text-white mr-0" href="/">¡Bienvenido {{request.user}}!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <div class="mx-auto">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active mr-3 ml-3">
            <a class="nav-link text-white" href="{% url 'home' %}">Home<span class="sr-only"></span></a>
          </li>
          <li class="nav-item  active mr-3 ml-3">
            <a class="nav-link text-white" href="{% url 'estacionTerrena' %}">Estación Terrena</a>
          </li>
          <li class="nav-item  active mr-3 ml-3">
            <a class="nav-link text-white" href="{% url 'reportes' %}">Reportes</a>
          </li>
        </ul>
      </div>
      
      <form class="d-flex mr-3 ml-5" method="GET" action="{% url 'logout' %}">
        <button class="btn btn-secondary" type="submit"> Salir</button>
      </form>
    </div>
  </nav>

  {% block content %}   {% endblock %}
  
  <footer class="bg-light text-center text-lg-start" style="margin-top: 45px;">
    <div class="row text-center mr-0 ml-0 p-2" style="display:flex; background-color: rgba(0, 0, 0, 0.2);">
      <div class="col-md-5 pr-0 pl-0">
        <a class="ml-5 mr-5" href="https://www.ipn.mx/"><img class="img-fluid" src="{% static 'resources/ipnC.png' %}"  style="width: 6%;"></a>
        <a class="ml-5 mr-5" href="https://www.unam.mx/"><img class="img-fluid" src="{% static 'resources/unam.png' %}" style="width: 8%;"></a>
        <a class="ml-5 mr-5" href="https://www.ucm.es/"><img class="img-fluid" src="{% static 'resources/complutense.png' %}" style="width: 8%;"></a>
      </div>
      <div class="col-md-2 pr-0 pl-0 align-middle mt-2 mb-2" style="display: flex; align-items: center;">
        <p class="mx-auto mb-0">© 2021 Copyright: Odyssey Corp.</p>
      </div>
      <div class="col-md-5 pr-0 pl-0">
        <a class="ml-5 mr-5" href="https://fmre.mx/"><img class="mx-auto" src="{% static 'resources/FMRE.png' %}" style="width: 6%;"></a>
        <a class="ml-5 mr-5" href="https://www.upiita.ipn.mx/"><img class="mx-auto" src="{% static 'resources/upiita.png' %}" style="width: 11%; margin-top: 10px;"></a>
        <a class="ml-5 mr-5" href="https://www.cinvestav.mx/"><img class="mx-auto" src="{% static 'resources/cinvestav.png' %}" style="width: 10%;"></a>
      </div>
    </div>
  </footer>
</body>
</html>